// http://preview.themeforest.net/item/kings-queens-medieval-reenactment-wp-theme/full_screen_preview/21866804?_ga=2.200741037.283204282.1639985544-265797474.1619074381&_gac=1.115880180.1637864481.Cj0KCQiAhf2MBhDNARIsAKXU5GRVZnU2tu02yrCZwNHyKVUWWl98wg5qaan_tEw0QTDWNErnNRL36kMaAiPeEALw_wcB

// 1. abstract
@import "./abstract/variable";

// 3. base
@import "./base/color";
@import "./base/fonts";

// 6. component
@import "./components/sidepanel";
@import "./components/card";
@import "./components/button";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::before,
::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	background: $bg;
	color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font;
	color: $dark;
}
