@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200;400;600;700&display=swap");

.h1 {
	font-size: 4rem !important;
}

.h2 {
	font-size: 3rem !important;
}

.h3 {
	font-size: 2rem !important;
}

.h4 {
	font-size: 1.5rem !important;
}

.h5 {
	font-size: 1rem !important;
}

.h6 {
	font-size: 0.8rem !important;
}
