// Font
$base-font: "Montserrat", sans-serif;
$heading-font: "Spectral SC", serif;

// color variables
$dark: #191e2d;
$bg: #f2e0c8;
$bg-card: #e8d3b6;
$text-color: #877c6d;

// shodw
$shadow-sm: 0 2px 24px -2px rgb(0 0 0 / 14%);
