input {
	height: 35px;
	padding: 0 2.4em 2px;
	border: 2px solid #ddd;
	color: #877c6d;
	border-color: #f7ede1;
	background-color: #f7ede1;
	font-family: $base-font, sans-serif;
	font-size: 13px;
	font-weight: 600;
	line-height: 1.5;
	border-radius: 35px;
	outline: none;
}
