#sidepanel {
	position: fixed;
	z-index: 500;
	width: 400px;
	top: 0;
	bottom: 0;
	right: 0;
	transform: translateX(400px);
	transition: all 0.5s ease-in-out;
	font-family: $base-font;
	background: white;

	.tabs {
		position: absolute;
		height: 100%;
		right: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.tab {
			position: relative;
			z-index: 495;
			width: 60px;
			height: 60px;
			color: #ffffff;
			background-color: #bd8d4c;
			margin: 5px 0;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease-in-out;
			cursor: pointer;
			box-shadow: $shadow-sm;

			.hint {
				position: absolute;
				z-index: 490;
				right: 100%;
				height: 100%;
				background: $dark;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 20px;
				white-space: nowrap;
				opacity: 0;
				transition: all 0.3s ease-in-out;
				transition-delay: 0.4s;
				width: 0%;
				font-size: 0.6rem;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 700;
				pointer-events: none;
				overflow: hidden;
				cursor: help;
			}

			&:hover {
				padding-right: 8px;
				.hint {
					opacity: 1;
					width: 200%;
				}
			}
		}
	}

	.sidebar_inner {
		margin: 4rem 2rem;
	}
}

#sidepanel.open {
	transform: translateX(0px);
	box-shadow: 0px 0 3rem 18px rgba(0, 0, 0, 0.2);
}

.panel_mask {
	position: fixed;
	z-index: 450;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	opacity: 0;
	transition: all 0.5s ease-in-out;
	pointer-events: none;
}

.panel_mask.open {
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
}
