#sidepanel {
    position: fixed;
    z-index: 500;
    width: 400px;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-400px);
    transition: all 0.5s ease-in-out;
    font-family: $base-font;
    background: white;

    .tabs {
        position: absolute;
        height: 100%;
        left: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .tab {
            position: relative;
            z-index: 495;
            width: 60px;
            height: 60px;
            color: #ffffff;
            background-color: #bd8d4c;
            margin: 5px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            box-shadow: $shadow-sm;

            .hint {
                position: absolute;
                z-index: 490;
                left: 100%;
                height: 100%;
                background: $dark;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 20px;
                white-space: nowrap;
                opacity: 0;
                transition: all 0.3s ease-in-out;
                transition-delay: 0.4s;
                width: 0%;
                font-size: 0.6rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 700;
                pointer-events: none;
                overflow: hidden;
                cursor: help;
            }

            &:hover {
                padding-left: 8px;
                .hint {
                    opacity: 1;
                    width: 100%;
                }
            }
        }
    }

    .sidebar_inner {
        width: 406px;
        margin: 4rem 1rem;
        .widget {
            transform: scale(83%) translateX(-7%);
            position: relative;
            background: $bg-card;
            padding: 3.75rem;

            &:before {
                content: url(@/assets/components/widget_begin.png);
                position: absolute;
                top: -55px;
                left: 0;
            }

            &:after {
                content: url(@/assets/components/widget_end.png);
                position: absolute;
                bottom: -60px;
                left: 0;
            }

            .widget_title {
                font-size: 2em;
                font-weight: 700;
                position: relative;
                padding: 0 0.58em;
                margin-top: 0;
                margin-bottom: 1.8rem;
                text-align: center;

                &:before,
                &:after {
                    position: absolute;
                    background-color: #bd8d4c;
                    content: "";
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    top: 50%;
                    margin-top: -1px;
                }
                &:before {
                    left: 0;
                }

                &:after {
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}

#sidepanel.open {
    transform: translateX(0px);
    box-shadow: 0px 0 3rem 18px rgba(0, 0, 0, 0.2);
}

.panel_mask {
    position: fixed;
    z-index: 450;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.panel_mask.open {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}
