.tileContainer {
	width: 100%;
	height: 100%;
	box-shadow: 0px 2px 0 0 #7a7a7a, 0px 4px 0 0 #7a7a7a, 0px 6px 0 0 #7a7a7a,
		0px 8px 0 0 #7a7a7a, 0px 1px 22px 8px rgb(0 0 0 / 50%), 0 1px 2px #fff,
		0 -1px 2px #666, inset 0 -3px 1px rgb(0 0 0 / 50%),
		inset 0 2px 2px rgb(255 255 255 / 80%);
	// overflow: hidden;
	border-radius: 5%;
	transition: all 0.4s ease-in-out;

	.tile {
		background-origin: center;
		background-size: cover;
		transition: all 0.4s ease-in-out;
		width: 100%;
		height: 100%;
		border-radius: 5%;
	}

	.ghostTile {
		position: relative;
		opacity: 0.5;
		cursor: pointer !important;
	}
}

.back {
	background-image: url("/images/tiles/BackLogo.png");
	background-origin: center;
	background-size: cover;
}
